*{
    padding: 0;
    margin: 0;
}

body{
    /* font-family: 'Fascinate', cursive; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
/* Home Starts */
.my-header1{
    height: 100vh;
    background-size: cover;
    background-image:url('../../Image/BgImage.jpeg');
    background-attachment: fixed;
}
.my-header{
    height: 100vh;
    background-size: cover;
    background-image:url('../../Image/BgImage.jpeg');
}
.rectangle{
    height: 100vh;
    background-color: rgb(140, 78, 57, 0.5);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.my-icon{
    position: relative;
    font-size: 25px;
    color: #602525;
}
.my-icon-user{
    font-size: 25px;
}
.my-badge{
    position: absolute;
    color: #602525;
    background-color: rgb(169, 167, 167);
    font-size: 13px;
    left: 19px;
    top: -10px;
    font-weight: bold;
}

.head-coffee{
    font-size: 50px;
    font-weight: bold;
}
.des-coffee{
    font-size: 20px;
}
.open-coffee{
    font-size: 25px;
}
.time-coffee{
    font-size: 40px;
    font-weight: bold;
}
.rectangle1{
    height: 70px;
    width: 370px;
    border: 5px solid #602525;
}
.rectangle2{
    height: 65px;
    width: 365px;
    background-color: #602525;
}
.grab{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 15px 0px 0px 15px;
}
.hidden-spacer {
    height: 56px
}
.navbar{
    background-color: white;
    opacity: 0.7;
    margin: 20px 50px 0px 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-brand{
    padding-left: 20px;
    font-family: 'Merriweather';
    font-size: 30px;
    color: #602525;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-brand small {
    display:block;
    font-size:10px;
}
.nav-link{
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
.change-pos{
    transition: 0.5s;
}
.change-pos:hover{
    transform: translate(10px, -15px);
}
.price{
    color: #C46B48;
}
.logoutToggle{
    display: none;
}
/* Home Ends */

/* About Us Starts */
.top-img{
    height: 300px;
    background-image: url("../../Image/TopImage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.rectangle-pages{
    height: 300px;
    background-color: rgb(140, 78, 57, 0.5);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-img .open-coffee{
    font-size: 20px;
    margin-top: 50px;
}
.top-img .time-coffee{
    font-size: 30px;
    font-weight: bold;
}
.top-img a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.test{
    height: 100px;
    background-color: blueviolet;
}
h1{
    color: #602525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}
ul{
    color: #602525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#about-us1 p{
    color: #602525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about-us1 button{
    width: 120px;
    height: 70px;
    margin: 30px 20px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button1{
    background-color: #602525;
    color: white;
    border: none;
    transition: 1s;
}
.button2{
    transition: 1s;
    border: 3px solid #602525;
}
.button1:hover{
    transform: scale(1.1);
}
.button2:hover{
    transform: scale(1.1);
}
/* About Us Ends */

/* Menu Starts */
#menu .row{
    padding: 50px;
}
.num{
    color: #602525;
    font-family: 'Merriweather';
    font-style: italic;
    font-size: 25px;
}
.name{
    color: #602525;
    font-family: 'Inter';
    font-style: italic;
    font-size: 45px;
}
.btn-buy> button{
    width: 200px;
    height: 60px;
    background-color: #602525;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    margin: -3px;
}
.btn-buy{
    width: 200px;
    height: 60px;
    border: 3px solid #602525; 
    margin: 0px;
    padding: 0px;
}
span{
    color: grey;
}
.img{
    transition: 1s;
}
.img:hover{
    transform: scale(1.05);
}
/* Menu Ends */

/* Contact Us Starts */
.foot{
    width: 100%;
    background-color: #602525;
    color: #C46B48;
    font-weight: bold;
}
fieldset{
    border: 1px solid #C46B48;
    padding: 15px;
    border-radius: 10px;
}
legend{
    float: none;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}
.foot a{
    text-decoration: none;
    color: white;
}
.top{
    margin-top: 80px;
}
.foot i{
    background-color: #C46B48;
    color: white;
}
.foot button{
    background-color: #C46B48;
    border: #602525;
    font-weight: bold;
}
.foot button:hover{
    background-color: goldenrod;
}

/* Contact Us Ends */

/* Sign In Starts */
#signInPassword{
    position: relative;
}
.eye{
    position: absolute;
    top: 5px;
    right: 10px;
}
.eye .hide2{
    display: none;
}
.eye .hide2{
    display: none;
}
.my-form p{
    display: none;
}
.eye .hide2:hover{
    cursor: pointer;
}

/* Cart Starts */
.cart{
    display: none;
}
.cart ul{
    list-style-type: none;
}
.cartButton{
    border: none;
    /* background-color: none; */
}
.my-form{
    background-color: rgb(220, 220, 220,0.5);
}
.my-form-cart{
    background-color: rgb(196, 109, 74,0.5);
}
.fa-trash-can{
    font-size: 25px;
    color: #602525;
    padding: 2px;
}
.fa-trash-can:hover{
    cursor: pointer;
}
.total{
    color: #C46B48;
}
.cart button{
    background-color: #C46B48;
    border: #602525;
    font-weight: bold;
}
.cart button:hover{
    background-color: goldenrod;
}